<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="font-weight-bold">
                Hello!!!
                <br>
                We Are Creative
                Digital Agency.
            </h1>
            <p class="font-weight-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, dolor hic corporis fuga nostrum
                quisquam.</p>
                <button type="button" class="btn"><span class="font-weight-bold">SEND MESSAGE</span></button>
        </div>
        <div class="col-md-6 mt-2">
            <img src="assets/img/header/1.jpg" alt="image" class="rounded">
        </div>
    </div>
</div>