<div class="container">
    <div class="row margen">
        <div class="col-sm-6">
            <h2 class="font-weight-bold">ABOUT US</h2>
            <p class="font-weight-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, sequi
                dignissimos similique.</p>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-4 mt-3">
            <div class="contenedor">
                <img class="altura rounded" src="assets/img/cards/1.jpg" alt="carouseel">
                <div class="text-block">
                    <h5 class="text-dark font-weight-bold">JONH DOE</h5>
                    <p class="font-weight-bold">WEB DESIGNER</p>
                </div>
            </div>

        </div>
        <div class="col-md-4 mt-3">
            <div class="contenedor">
                <img class="altura rounded" src="assets/img/cards/2.jpg" alt="carouseel">
                <div class="text-block">
                    <h5 class="text-dark font-weight-bold">LIZ MCKENZIE</h5>
                    <p class="font-weight-bold">WEB DESIGNER</p>
                </div>
            </div>

        </div>

        <div class="col-lg-4 mt-5">
            <h3 class="font-weight-bold">LITTLE ABOUT US</h3>
            <p class="font-weight-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta quas illo
                accusantium error facere
                aspernatur magnam.</p>
            <button type="button" class="btn btn-outline-dark mt-4">READ MORE</button>
        </div>

    </div>
</div>