<h2 class="font-weight-bold mt-3">WORK SHOWCASE</h2>
<nav class="nav mt-5 mb-3">
    <a class="nav-link" href="#"><span class="font-weight-bold">ALL</span></a>
    <a class="nav-link" href="#"><span class="font-weight-bold">BRANDING</span></a>
    <a class="nav-link" href="#"><span class="font-weight-bold">ILLUSTRATION</span></a>
    <a class="nav-link" href="#"><span class="font-weight-bold">WEB</span></a>

    <div class="dropdown ml-auto">
        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="font-weight-bold text-dark">NEWEST FIRST</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
</nav>

<!-- <div class="container">
    <div class="card-columns">
        <div class="card hovereffect">
            <img src="assets/img/carousel/1.jpg" class="card-img img-responsive" alt="...">
            <div class="overlay">
                <h2>SMART WATCH</h2>
                <a class="info" href="#">CLICK HERE</a>
            </div>
        </div>
        <div class="card hovereffect">
            <img src="assets/img/carousel/2.jpg" class="card-img img-responsive" alt="...">
            <div class="overlay">
                <h2>VANS SHOES</h2>
                <a class="info" href="#">CLICK HERE</a>
            </div>
        </div>
        <div class="card hovereffect">
            <img src="assets/img/carousel/3.jpg" class="card-img img-responsive" alt="...">
            <div class="overlay">
                <h2>SMARTWATCH</h2>
                <a class="info" href="#">CLICK HERE</a>
            </div>
        </div>
        <div class="card hovereffect">
            <img src="assets/img/carousel/4.jpg" class="card-img img-responsive" alt="...">
            <div class="overlay">
                <h2>SHOES</h2>
                <a class="info" href="#">CLICK HERE</a>
            </div>
        </div>
        <div class="card hovereffect">
            <img src="assets/img/carousel/5.jpg" class="card-img img-responsive" alt="...">
            <div class="overlay">
                <h2>IPHONE 10</h2>
                <a class="info" href="#">CLICK HERE</a>
            </div>
        </div>
        <div class="card hovereffect">
            <img src="assets/img/carousel/6.jpg" class="card-img img-responsive" alt="...">
            <div class="overlay">
                <h2>IPHONE 8</h2>
                <a class="info" href="#">CLICK HERE</a>
            </div>
        </div>
        <div class="card hovereffect">
            <img src="assets/img/carousel/7.jpg" class="card-img img-responsive" alt="...">
            <div class="overlay">
                <h2>IPHONE</h2>
                <a class="info" href="#">CLICK HERE</a>
            </div>
        </div>
    </div>
</div> -->

<!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="assets/img/carousel/1.jpg"
            class="w-100 shadow-1-strong rounded mb-4" alt="" />

        <img src="assets/img/carousel/2.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="assets/img/carousel/7.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="" />

        <img src="assets/img/carousel/12.jpg"
            class="w-100 shadow-1-strong rounded mb-4" alt="" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="assets/img/carousel/11.jpg"
            class="w-100 shadow-1-strong rounded mb-4" alt="" />

        <img src="assets/img/carousel/3.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="" />
    </div>
</div>
<!-- Gallery -->