<div class="container">
    <h2 class="font-weight-bold mt-3">WORK SHOWCASE</h2>
    <nav class="nav mt-5 mb-3">
        <a class="nav-link" href="#"><span class="font-weight-bold">ALL</span></a>
        <a class="nav-link" href="#"><span class="font-weight-bold">BRANDING</span></a>
        <a class="nav-link" href="#"><span class="font-weight-bold">ILLUSTRATION</span></a>
        <a class="nav-link" href="#"><span class="font-weight-bold">WEB</span></a>

        <div class="dropdown ml-auto">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="font-weight-bold text-dark">NEWEST FIRST</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <a data-fancybox="gallery" href="assets/img/carousel/1.jpg"><img src="assets/img/carousel/1.jpg"
                    class="w-100 shadow-1-strong rounded mb-4" alt="" /></a>


            <a data-fancybox="gallery" href="assets/img/carousel/2.jpg"><img src="assets/img/carousel/2.jpg"
                    class="w-100 shadow-1-strong rounded mb-4" alt="" /></a>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <a data-fancybox="gallery" href="assets/img/carousel/7.jpg"><img src="assets/img/carousel/7.jpg"
                    class="w-100 shadow-1-strong rounded mb-4" alt="" /></a>

            <a data-fancybox="gallery" href="assets/img/carousel/12.jpg"><img src="assets/img/carousel/12.jpg"
                    class="w-100 shadow-1-strong rounded mb-4" alt="" /></a>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <a data-fancybox="gallery" href="assets/img/carousel/11.jpg"><img src="assets/img/carousel/11.jpg"
                    class="w-100 shadow-1-strong rounded mb-4" alt="" /></a>

            <a data-fancybox="gallery" href="assets/img/carousel/3.jpg"><img src="assets/img/carousel/3.jpg"
                    class="w-100 shadow-1-strong rounded mb-4" alt="" /></a>
        </div>
    </div>
</div>

<div class="container text-center mt-5">
    <button type="button" class="btn btn-lg"><span class="font-weight-bold">SHOW ME MORE</span></button>
    <div class="row mt-5">
        <div class="col-sm-2 mt-3"><img src="assets/img/partners/1.png" alt="logo"></div>
        <div class="col-sm-2 mt-3"><img src="assets/img/partners/2.png" alt="logo"></div>
        <div class="col-sm-2 mt-3"><img src="assets/img/partners/3.png" alt="logo"></div>
        <div class="col-sm-2 mt-3"><img src="assets/img/partners/4.png" alt="logo"></div>
        <div class="col-sm-2 mt-3"><img src="assets/img/partners/5.png" alt="logo"></div>
        <div class="col-sm-2 mt-3"><img src="assets/img/partners/6.png" alt="logo"></div>
        </div>
</div>
