<div class="container-md">
    <div class="row">
        <div class="col-6">
            <h2 class="font-weight-bold mt-5">OUR BLOG</h2>
            <p class="font-weight-bold mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, ullam sint!
                Aspernatur sunt!</p>
        </div>
    </div>
    <div class="row">
        <div class="card-deck">
            <div class="card">
                <img src="assets/img/tarjetas/1.jpg" class="card-img-top" alt="tarjetas">
                <div class="card-body">
                    <h5 class="card-title">SUPER BLOG ARTICLE</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In soluta.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">20 may 2021</small>
                </div>
            </div>
            <div class="card">
                <img src="assets/img/tarjetas/2.jpg" class="card-img-top" alt="tarjetas">
                <div class="card-body">
                    <h5 class="card-title">SUPER BLOG ARTICLE</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi voluptatem
                        iure.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">20 may 2021</small>
                </div>
            </div>
            <div class="card">
                <img src="assets/img/tarjetas/1.jpg" class="card-img-top" alt="tarjetas">
                <div class="card-body">
                    <h5 class="card-title">SUPER BLOG ARTICLE</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure doloribus
                        perspiciatis.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">20 may 2021</small>
                </div>
            </div>
        </div>
    </div>

</div>