<div class="container-md">
    <div class="row margen">
        <div class="col-6">
            <h2 class="font-weight-bold mt-5">OUR BLOG</h2>
            <p class="font-weight-bold mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, ullam sint!
                Aspernatur sunt!</p>
        </div>
    </div>
    <div class="row">
        <div class="card-deck">
            <div class="card pb-3">
                <div class="hovereffect">
                    <img src="assets/img/tarjetas/1.jpg" class="card-img-top" alt="tarjetas">
                    <div class="overlay">
                        <h2>SUPER BLOG ARTICLE</h2>
                        <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">SUPER BLOG ARTICLE</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In soluta.</p>
                </div>

            </div>
            <div class="card pb-3">
                <div class="hovereffect">
                    <img src="assets/img/tarjetas/2.jpg" class="card-img-top" alt="tarjetas">
                    <div class="overlay">
                        <h2>SUPER BLOG ARTICLE</h2>
                        <a class="info" href="#">READ MORE</a>
                    </div>
                </div>

                <div class="card-body">
                    <h5 class="card-title">SUPER BLOG ARTICLE</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi voluptatem
                        iure.</p>
                </div>

            </div>
            <div class="card pb-3">
                <div class="hovereffect">
                    <img src="assets/img/tarjetas/1.jpg" class="card-img-top" alt="tarjetas">
                    <div class="overlay">
                        <h2>SUPER BLOG ARTICLE</h2>
                        <a class="info" href="#">READ MORE</a>
                    </div>

                </div>
                <div class="card-body">
                    <h5 class="card-title">SUPER BLOG ARTICLE</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure doloribus
                        perspiciatis.</p>
                </div>

            </div>
        </div>
    </div>

</div>